/* 
    Created on : 24 nov. 2021, 9:20:40
    Author     : Sasha
*/

table{
    margin: auto;
    max-width: 1000px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table img{
    display: block;
    margin: auto;
    width: 50px;
    padding: 5px 0;
}

td.enunciado{
    padding-left: 15px;
}

table tr:not(:first-child) > *{
    border-bottom: 3px solid gainsboro;
}

div.db{
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}
div.db > *{
    margin: 0;
    padding: 0;
}

div.db a{
    text-transform: uppercase;
    display: block;
    font-size: small;
    box-sizing: border-box;
    border: 2px solid black;
    color: black;
    padding: 5px 0;
}
div.db a:hover{
    background-color: black;
    color: white;
}

div.db > a{
    margin: 10px 5px 0;
}
ul.scriptsDB{
    margin-top: 5px;
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
}
ul.scriptsDB li{
    flex-grow: 1;
    margin: 0 5px;
}
ul.scriptsDB li a{
    width: 100%;
}