/* 
    Created on : 24 nov. 2021, 9:20:40
    Author     : Sasha
*/

table{
    margin: auto;
    max-width: 1000px;
    width: 100%;
    border-collapse: collapse;
}

table img{
    display: block;
    margin: auto;
    width: 50px;
    padding: 5px 0;
}

td.enunciado{
    padding-left: 15px;
}

table tr:not(:first-child) > *{
    border-bottom: 3px solid gainsboro;
}